*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #171415;
    background-image: url(https://images.unsplash.com/photo-1561896310-f5e8469661c9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-y: scroll;
    background-position: left;

}

header{
    display: flex;
    background-image: linear-gradient(to bottom, #2B2A4C , #4d4c69 70%);
    height: 12vh;
    color: #EEE2DE;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 4px solid #504f6d;
    box-shadow: 3px 3px 3px 3px #2d2d3f;
}

header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

.content{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 55vw;
    min-height: 25vh;
    height: 25vh;
    background-image: linear-gradient(to bottom, #EEE2DE 70%, #aaaabe);
    box-shadow: 0 0 3px 3px #5b5a75;
    border-radius: 5px;
    padding: 15px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 9px;
    flex-grow: 1;
}

.frase{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #2B2A4C;
}

.versiculo{
    display: flex;
    align-items: flex-start;
    font-size: 0.8 em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-footer img{
    display: flex;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.card-footer img:hover{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

h3{
    display: flex;
    margin-left: 5px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    header {
      height: 15vh;
    }
    
    header h1 {
      font-size: 2rem;
    }
    
    .content {
      padding: 10px;
    }
    
    .card {
      width: 100%;
      max-width: 100%;
    }
  }
